<div class="container-fluid px-5">
  <div class="row">
    <div class="col-md-3">


    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
       <div class="row border-top">
        <%= image_tag @user.get_profile_image(100,100) %>
       </div>


  </div>
</div>